* {

    padding: 0;
    box-sizing: border-box;
  }
  

body{
    background-image: url('quiz_background.jpg'); /* 画像のパスを指定 */
    /*Flexboxを親オブジェクトに設定。子オブジェクトにおいて自由に位置関係を調整可能にする*/
    width: 10px;
    height: 50px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
@media(max-width: 480px){
    html, body {

        width: 10px;
        height: 80px;

      }
}

#number_of_question{
    position: relative;
    top: 10px;
    right: 50px;

    -webkit-text-stroke-color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 60px;

    width: 500px;
}
@media(max-width: 480px){
    #number_of_question{
        width: 135px;
        position: fixed;
        font-size: 40px;
        left: 40vw;
        top: 5vh;
    }
}

#question_entry{
    position: relative;
    right: 350px;
    top: 10px;
    width: 800px;
    height: 250px;

}
@media(max-width: 480px){
    #question_entry{
        height: 120px;
        width: 290px;

        position: relative;
        font-size: 40px;
        left: 60px;
        top: 100px;

    }
}

#question_contents{
    position: relative;
    bottom: 370px;
    right: 120px;

    font-size: 40px;
    width: 500px;
}
@media(max-width: 480px){
    #question_contents{
        position: relative;
        left: 165px;
        bottom: 100px;
        font-size: 15px;
        width: 170px;
        height: 100px;
    }
}

#question_of_pic{
    position: relative;
    right: 370px;
    bottom: 200px;
    width: 250px;
}
@media(max-width: 480px){
    #question_of_pic{
        position: relative;
        left: 40px;
        bottom: 10px;

        width: 140px;
    }
}

#btn1{

    position: fixed;
    right: 670px;
    bottom: 200px;

    width: 300px;
    
}
@media(max-width: 480px){
    #btn1{

        left: 40px;
        bottom: 40vh;

        height: 100px;
        width: 150px;
    }
}
#btn2{
    position: fixed;
    right: 670px;
    bottom: 40px;

    width: 300px;
    
}
@media(max-width: 480px){
    #btn2{
        left: 40px;
        bottom: 20vh;

        height: 100px;
        width: 150px;
    }
}

#btn3{
    position: fixed;
    
    left: 760px;
    bottom: 200px;

    width: 300px;
    
}
@media(max-width: 480px){
    #btn3{
        left: 195px;
        bottom: 40vh;

        height: 100px;
        width: 150px;
    }
}

#btn4{
    position: fixed;
    left: 760px;
    bottom: 40px;

    width: 300px;
    
}
@media(max-width: 480px){
    #btn4{
        left: 195px;
        bottom: 20vh;

        height: 100px;
        width: 150px;
    }
}

#btn1_contents{
    font-size: 25px;
    width: 260px;
    height: 90px;
    text-align: center;


    position: fixed;
    right: 710px;
    bottom: 240px;
}
@media(max-width: 480px){
    #btn1_contents{
        width: 140px;
        height: 65px;
        font-size: 13px;

        left: 40px;
        bottom: 43vh;
    }

}
#btn2_contents{

    font-size: 25px;
    width: 260px;
    height: 90px;
    text-align: center;

    position: fixed;
    left: 775px;
    bottom: 240px;
}
@media(max-width: 480px){
    #btn2_contents{
        font-size: 13px;

        left: 200px;
        bottom: 42vh;
        width: 130px;
        height: 70px;
    }
}
#btn3_contents{

    font-size: 25px;

    width: 260px;
    height: 90px;
    text-align: center;

    position: fixed;
    right: 700px;
    bottom: 87px;
}
@media(max-width: 480px){
    #btn3_contents{
        font-size: 15px;
        
        height: 70px;
        width: 135px;
        left: 40px;
        bottom: 23vh;
    }
}
#btn4_contents{

    font-size: 25px;
    width: 260px;
    height: 90px;
    text-align: center;

    position: fixed;
    left: 780px;
    bottom: 87px;
}
@media(max-width: 480px){
    #btn4_contents{
        font-size: 13px;

        height: 72px;
        width: 130px;
        left: 200px;
        bottom: 23vh;
        
    }
}

#snake_pattern1{
    width: 700px;
    position: fixed;
    right: 285px;
    bottom: 5px;
}
@media(max-width: 480px){
    #snake_pattern1{
        width: 700px;

        right: 0px;
        bottom: 40px;
    }
}

/*==============以下　答えのウェジット群===========*/

:root{
    --snake_answer_btm:0px;
    --quiz_answer_entry_btm:200px;
    --quiz_answer_wrong_btm:600px;
    --quiz_answer_correct_btm:600px;
    --quiz_answer_explain_btm:530px;
    --snake_pattern2:660px;
    --answer_contents:245px;
    --middle_btn:110px;
    --middle_btn_contents:130px;
}



#snake_answer{
    width: 400px;

    position: fixed;
    left: 500px;
    bottom: var(--snake_answer_btm);
}
@media(max-width: 480px){
    #snake_answer{
        width: 350px;
        left: 20px;
        bottom: 0px;
    }
}

#quiz_answer_entry{
    width: 400px;
    
    position: fixed;
    right: 480px;
    bottom: var(--quiz_answer_entry_btm);
}
@media(max-width: 480px){
    #quiz_answer_entry{
        width: 350px;
        right: 10px;
        bottom: 180px;
    }
}

#quiz_answer_wrong{
    width: 300px;
    height: 30px;
    font-size: 60px;
    font-family:"HGP創英角ﾎﾟｯﾌﾟ体";
    color:#12593b;
    margin: 0px;
    -webkit-text-stroke-color: rgb(38, 136, 97);
    -webkit-text-stroke-width: 1px;
    
    text-shadow: 1px 1px 30px rgb(0, 208, 255);
    color: rgb(255, 255, 255);
    padding: 5px 5px 5px 60px;

    position: fixed;
    right: 520px;
    bottom: var(--quiz_answer_wrong_btm);    
}
@media(max-width: 480px){
    #quiz_answer_wrong{
        right: 30px;
        bottom: 540px;
    }
}

#quiz_answer_correct{
    width: 300px;
    height: 30px;
    font-size: 60px;
    font-family:"HGP創英角ﾎﾟｯﾌﾟ体";/*フォントの設定*/

    margin: 0px;
    -webkit-text-stroke-color: rgb(246, 140, 3);/*縁の色の設定*/
    -webkit-text-stroke-width: 1px;/*縁の太さ*/
    
    text-shadow: 1px 1px 30px rgb(9, 255, 0);/*ぼかしの色*/
    color: rgb(255, 255, 255);/*文字の中の色*/
    padding: 5px 5px 5px 60px;

    position: fixed;
    right: 520px;
    bottom: var(--quiz_answer_correct_btm);    
}
@media(max-width: 480px){
    #quiz_answer_correct{
        right: 30px;
        bottom: 540px;
    }
}


#quiz_answer_explain{
    width: 400px;

    position: fixed;
    right: 460px;
    bottom: var(--quiz_answer_explain_btm);

    visibility: hidden;

}
@media(max-width: 480px){
    #quiz_answer_explain{
        width: 350px;
        
        right: 10px;
        bottom: 500px;
       
    }
}

#snake_pattern2{
    width: 600px;

    position: fixed;
    bottom: var(--snake_pattern2);
    right: 360px;
}
@media(max-width: 480px){
    #snake_pattern2{
        width: 820px;
        right: 15px;
        bottom: 600px;
       
    }
}

#answer_contents{
    width: 360px;
    height: 260px;
    font-size: 25px;

    text-align: left; /* 左揃え */
  

    position: fixed;
    right: 500px;
    bottom: var(--answer_contents);
}
@media(max-width: 480px){
    #answer_contents{
        font-size: 22px;
        width: 330px;
        height: 230px;

        right: 15px;
        bottom:220px;
    }
}

#middle_btn{
    position: absolute;
    left: 760px;
    bottom: var(--middle_btn);

    width: 130px;
    
}
@media(max-width: 480px){
    #middle_btn{
        position: fixed;
        left: 220px;
        bottom: 70px;
    }
}

#middle_btn_contents{ 

    position: absolute;
    left: 770px;
    bottom: var(--middle_btn_contents);
    
    font-size: 25px;
   
    text-align: center;
    height: 50px;
    width: 90px;
}
@media(max-width: 480px){
    #middle_btn_contents{

        position: fixed;
        left: 230px;
        bottom: 85px;
    }
}